body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFE2E2;
}

/* NAVBAR */

.navbar {
  background-color: #C5B3D3;
  padding: 18px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.navbar a:hover {
  color: #FFE2E2;
}

/* TITLE */

h1 {
  text-align: center;
  color: #7A5C8D;
  margin-top: 20px;
}

/* STATS */

.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 25px;
}

.stats h3 {
  background: white;
  padding: 15px 25px;
  border-radius: 15px;
  color: #7A5C8D;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

/* SEARCH */

.search {
  display: block;
  margin: 20px auto;
  width: 300px;
  padding: 12px;
  border-radius: 20px;
  border: 2px solid #C5B3D3;
}

/* FORM IN ROWS */

.movie-form {
  width: 85%;
  max-width: 900px;
  margin: 30px auto;
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.movie-form h2 {
  text-align: center;
  color: #7A5C8D;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.form-row input,
.form-row textarea {
  flex: 1;
}

.movie-form input,
.movie-form textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #C5B3D3;
}

.movie-form textarea {
  width: 100%;
}

.movie-form button {
  width: 100%;
  margin-top: 15px;
  background: #C5B3D3;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.movie-form button:hover {
  background: #A48BBE;
}

/* MOVIES */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 25px;
  padding: 30px;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.card h3 {
  color: #7A5C8D;
}

.card button {
  margin: 5px;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  background: #C5B3D3;
  color: white;
}

.card button:hover {
  background: #A48BBE;
}

/* DETAILS */

.detail {
  width: 70%;
  margin: 30px auto;
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.detail h2 {
  color: #7A5C8D;
}

/* RATING BADGES */

.rating-badge {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.rating-green {
  background: green;
}

.rating-amber {
  background: orange;
}

.rating-red {
  background: red;
}