body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffe6f0;
}

/* NAVBAR */

.navbar {
  background-color: #ff5fa2;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ffe6f0;
}

/* TITLE */

h1 {
  text-align: center;
  color: #d63384;
}

/* DASHBOARD */

.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px;
}

.stats h3 {
  background: white;
  padding: 15px 25px;
  border-radius: 15px;
  color: #d63384;
}

/* SEARCH */

.search {
  display: block;
  margin: 20px auto;
  width: 300px;
  padding: 12px;
  border-radius: 20px;
  border: 2px solid #ff5fa2;
}

/* FORM */

.movie-form {
  width: 80%;
  max-width: 700px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.movie-form h2 {
  text-align: center;
  color: #d63384;
}

.movie-form input,
.movie-form textarea {
  padding: 12px;
  border: 1px solid pink;
  border-radius: 10px;
}

.movie-form button {
  background: #ff5fa2;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.movie-form button:hover {
  background: #d63384;
}

/* MOVIE GRID */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 25px;
  padding: 30px;
}

/* CARD */

.card {
  background: white;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px;
}

.card h3 {
  color: #d63384;
}

.card button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.card button:nth-child(6) {
  background: #ff5fa2;
}

.card button:nth-child(7) {
  background: #8e44ad;
}

/* DETAILS */

.detail {
  width: 70%;
  margin: 30px auto;
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.detail h2 {
  color: #d63384;
}

/* DELETE BUTTON */

.delete-btn {
  background: crimson !important;
}

.edit-btn {
  background: orange !important;
}

.watch-btn {
  background: #8e44ad !important;
}

.detail-btn {
  background: #ff5fa2 !important;
}
/* Rating Badge */

.rating-badge {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  margin: 10px 0;
}

/* 8+ Green */

.rating-green {
  background-color: #28a745;
}

/* 5 - 7.9 Amber */

.rating-amber {
  background-color: #f0ad4e;
}

/* Below 5 Red */

.rating-red {
  background-color: #dc3545;
}